# Copy this file to .env when environment variables are needed.
# This first MVP stage does not require any environment variables.
OPENAI_API_KEY=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